---
product:
  reviews:
    limit: 8
  related_products:
    limit: 8
  videos:
    limit: 12
---

{{#partial "page"}}
{{inject 'showReviews' (lang 'product.reviews.show_reviews')}}
{{inject 'hideReviews' (lang 'product.reviews.hide_reviews')}}

{{> components/common/page-header
  list=breadcrumbs
  page_title=product.title
}}

<div
  class="container product-container"
  data-product-title="{{product.title}}"
  data-product-id={{product.id}}
>
  <div class="layout-module">
    {{#each product.shipping_messages}}
      {{> core/alerts/alert-info message=message}}
    {{/each}}
    <div class="single-product-left">
      {{> components/products/single-details
        this
      }}
    </div>

    <div class="single-product-right">
      {{> components/products/single-image
        this
        class='single-product-images product-images'
      }}
    </div>
  </div>
</div>

{{#if product.videos.list.length}}
  <div class="container products-videos-container">
    <section class="layout-module">
      <h2 class="product-reviews-title section-title">
        {{lang 'product.videos_section' total=product.videos.list.length}}
      </h2>

      <div
        class="
          video-grid-container
          grid-masonry
          {{#if product.videos.list.length '>' 2}}
            layout-grid-of-3
          {{/if}}
        "
      >
        <div class="layout-grid-sizer"></div>
        <div class="layout-grid-gutter"></div>

        {{#each product.videos.list}}
          <div class="layout-grid-item product-video-container">
            <iframe
              src="https://www.youtube.com/embed/{{id}}?rel=0&showinfo=0&autohide=1"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
        {{/each}}
      </div>
    </section>
  </div>
{{/if}}

{{#if settings.show_product_reviews}}
  <div class="container products-reviews-container" id="write_review">
    {{> components/products/reviews
      reviews=product.reviews
      product_title=product.title
    }}
  </div>
{{/if}}

{{#if product.related_products.length}}
  <div class="container products-related-container">
    {{> components/products/related
      grid=product.related_products
      show_quick_shop=theme_settings.show_quick_shop
      default_image=theme_settings.default_image
    }}
  </div>
{{/if}}

{{> core/structured-data/product}}
{{> core/structured-data/product-reviews}}

{{/partial}}

{{> layout/base}}
