<nav class="main-footer-menu">
  <ul class="nav-menu navigation-tier">
    <li>
      <a href="#header-pane-category" data-slideout-menu>{{lang 'product.label'}}</a>
    </li>
    {{#if shop_by_brand}}
      <li>
        <a href="#header-pane-brand" data-slideout-menu>{{lang 'brands.label'}}</a>
      </li>
    {{/if}}
    <li>
      <a href="#header-pane-pages" data-slideout-menu>{{lang 'page.label'}}</a>
    </li>
    <li><a href="#modal-search" class="toggle-search">{{lang 'search.label'}}</a></li>
    <li><a href="#header-cart-pane" data-slideout-menu>{{lang 'cart.label'}}</a></li>
  </ul>
</nav>

