.amp-footer {
  border-top: 1px solid {{color_borders}};
}

.amp-footer-heading {
  color: {{color_headings}};
  text-transform: uppercase;
}

.amp-footer-credits {
  text-align: left;
}

.footer-social-list {
  margin-left: 0;
  list-style: none;
}

.footer-social-list-item {
  display: inline-block;
  margin-right: 20px;
}

.footer-social-list-item a {
  color: {{color_text}};
}

.footer-social-list-item-icon {
  width: 16px;
  height: auto;
  fill: currentColor;
}

.footer-social-list-item-icon.Facebook {
  height: 16px;
}

.amp-footer-credits p {
  font-size: 0.8em;
}
